a {
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 280px;
  text-decoration: none;
}

.imgPreviewContainer {
  width: 245px;
  height: 185px;
}

.imgPreview {
  width: 245px;
  height: 185px;
}

.imgPreviewClassifyIconContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 22px;
}

.imgPreviewClassifyIconContainer span {
  color: #fff;
  font-size: 12px;
  padding-left: 2px;
}

.imgPreviewTitle {
  font-size: 16px;
  line-height: 22px;
  color: #0f1419;
  padding: 12px 10px 0;
  max-height: 44px;
  font-weight: 400;
}

.imgPreviewInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 10px;
  color: #666;
  font-size: 12px;
}
