* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
  word-break: keep-all;
}

hr {
  color: #4d4d4d;
  border-left-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.App-header {
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.page-header {
  min-width: 1190px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.section-left {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 425px;
  min-width: 425px;
}

.items-main-cates-clearfix {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 40px;
}

.item-cates {
  display: flex;
  align-items: center;
  line-height: 100%;
  height: 100%;
}

.item-cate {
  list-style-type: none;
  padding-left: 20px;
  float: left;
}

.item-cate > a {
  text-decoration: none;
  color: #818181;
  font-size: 14px;
  white-space: nowrap;
}

.item-cate > a:hover {
  color: #ffc81f;
}

.app {
  flex-shrink: 0;
  padding: 20px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.app:hover {
  color: #ffc81f;
}

.search {
  display: flex;
  align-items: center;
  line-height: 40px;
  padding: 20px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user > a {
  padding: 14px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.user > a:hover {
  color: #ffc81f;
}

.ribbon {
  flex-shrink: 0;
  display: flex;
  padding: 20px;
}

.about-us {
  padding-left: 20px;
  margin-right: 12px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.about-us:hover {
  color: #ffc81f;
}

.icon-weibo {
  margin-right: 12px;
  position: relative;
  top: 5px;
}

.icon-wechat {
  position: relative;
  top: 5px;
}
