.App {
  height: 3800px;
  background: #eee;
  text-align: center;
}

.page-content {
  margin: 0 auto;
  width: 1190px;
  padding: 90px 90px 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
}

.packery-container {
  display: flex;
  margin: 0 auto;
}

.packery-banner-container {
  width: 755px;
  height: 450px;
}

.packery-login-container {
  display: flex;
  flex-direction: column-reverse;
  width: 245px;
  height: 280px;
  margin-left: 10px;
}

.packery-login-bd {
  height: 215px;
  width: 245px;
  position: absolute;
  top: 90px;
}

.packery-login-avatar {
  width: 64px;
  height: 64px;
  margin-left: 10px;
  position: absolute;
  top: 70px;
  left: 79px;
}

.packery-login-ft {
  display: flex;
  height: 65px;
  flex-direction: column;
}

.packery-login-text {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #ffc81f;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.packery-login-ft > p {
  padding: 8px 0;
  font-size: 14px;
  color: #848484;
  background-color: #fff;
  text-align: center;
}

.packery-dowload{
  margin: 5px 0 0 10px;
}

.packery-dowload > img {
  margin: 5px 0 0;
}
